<div class="fw-bold fs-3 mt-3 d-flex justify-content-between my-5">
  View States
  <a routerLink="/states/create-state" class="btn btn-primary rounded-pill">
    <span class="me2">
      <i class="fas fa-eye"></i>
    </span>
    Create States
  </a>
</div>
<div class="card shadow">
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr.No.</th>
          <th>State</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of listState
              | paginate: { itemsPerPage: 10, currentPage: page };
            index as i
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>
            <button class="btn btn-success" (click)="editState(item)">
              Edit
            </button>
            <button class="btn btn-danger ms-2">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center my-3">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
