.navbar-brand{
  color: #f27921;
  font-size: 30px;
  letter-spacing: 1px;
}
.navbar-brand:hover{
  color: #f27921;
}
.navbar-brand span{
  color: #9f0e1d;
  margin-left: 7px;
}
.navbar-brand p{
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  font-style: oblique;
}