<div class="container-fluid">
  <div class="row">
    <div class="col-12 fw-bold fs-3 mt-3">Dashboard</div>
  </div>
  <div class="row mt-3">
    <div class="col-6 col-md-4 col-xl-3 my-3">
      <div class="card text-white bg-dark h-100">
        <div class="card-header">Employees</div>
        <div class="card-body">
          <h5 class="card-title fw-bold fs-3">#25</h5>
          <p class="card-text">
            To see more about <u>employees</u> <br />
            <button
              class="btn btn-link px-0 text-warning"
              (click)="goToEmployees()"
            >
              Click Here..!
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl-3 my-3">
      <div class="card text-white bg-dark h-100">
        <div class="card-header">States</div>
        <div class="card-body">
          <h5 class="card-title fw-bold fs-3">#25</h5>
          <p class="card-text">
            To see more about <u>states</u> <br />
            <button class="btn btn-link px-0 text-warning">
              Click Here..!
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl-3 my-3">
      <div class="card text-white bg-dark h-100">
        <div class="card-header">Cities</div>
        <div class="card-body">
          <h5 class="card-title fw-bold fs-3">#25</h5>
          <p class="card-text">
            To see more about <u>cities</u> <br />
            <button class="btn btn-link px-0 text-warning">
              Click Here..!
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl-3 my-3">
      <div class="card text-white bg-dark h-100">
        <div class="card-header">Category</div>
        <div class="card-body">
          <h5 class="card-title fw-bold fs-3">#25</h5>
          <p class="card-text">
            To see more about <u>categories</u> <br />
            <button class="btn btn-link px-0 text-warning">
              Click Here..!
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
