
.sidebar-nav{
  width: 270px;
}
.right-icon{
  transition: transform 0.3s ease-in;
}
.setting[aria-expanded="true"] .right-icon{
  transform: rotate(180deg);
}

@media screen and (min-width: 992px) {
  body{
    overflow: auto;
  }
  .offcanvas-backdrop::before{
   display: none;
  }
  .sidebar-nav{
    transform: none;
    visibility: visible!important;
    top: 103px;
    height: calc(100% - 103px);
  }
}

/* Define Width */
.offcanvas-body::-webkit-scrollbar{
  width: 10px;
}
.offcanvas-body::-webkit-scrollbar-track{
  background-color: #4b4b4b;
}
.offcanvas-body::-webkit-scrollbar-thumb{
  background-color: #ffc107;
  border-radius: 50px;
}
.offcanvas-body::-webkit-scrollbar-thumb:hover{
  background-color: #dcac1a;
}